img.col {
  float: left;
  width: 50%;
  padding: 1rem;
  border-radius: 1.5rem;
}
ul.col {
  float: left;
  width: 50%;
  padding: 0.5rem 1rem 0rem 1.5rem;
}
p.col {
    margin-top: 2rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}
@media screen and (max-width: 600px) {
  img.col {
    border-radius: 1.5rem;
    width: 100%;
    padding: 0.5rem;
    //margin-top: 1rem;
  }
  ul.col {
    width: 100%;
    padding: 0.5rem 2.5rem;
  }
}

a {
  color: #064cab;
}
h2, h3, h4, h5, h6 {
  font-weight: 300;
}

h2 {
  font-size: 1.5rem !important;
}

h2 strong{
  font-weight: 400;
}

h1 {
  font-weight: 400;
}